 .openerp .oe_list_content td.oe_number {
     text-align:left !important;
}

.openerp .oe_list.oe_list_editable.oe_editing .oe_form_field.oe_form_field_float input, .openerp .oe_list.oe_list_editable.oe_editing .oe_form_field.oe_form_view_integer input  {
     text-align:left !important;
}

.openerp .oe_leftbar {
	background: #204e6b;
}

.openerp .nav-pills > li > a:hover, .openerp a.list-group-item > a:hover  {
	background-color: #7c7bad;
}

.navbar-collapse {
	background: #a24689;
}

#oe_main_menu_navbar li a, #oe_main_menu_navbar li button {
  padding: 10px 4px 10px 4px;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: larger;
  font-size: 13px;
}

.oe_menu_text {
	color:white !important;
}

.openerp .oe_secondary_menu_section {
  font-weight: larger;
  margin-left: 8px;
  color: #dee360;
}

tr [data-field="price_unit"]{
    width:80px !important;
}

.oe_footer_color{
    color:#eee !important;
}

.oe_footer_color a span{
    color:#eee !important;
}

}


 .openerp .oe_list_content > tbody > tr:nth-child(odd) {
  background-color: #A9A9A9;
  background-color: #cd0033;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fd1818), to(#cd0033));
  background-image: -webkit-linear-gradient(top, #fd1818, #cd0033);
  background-image: -moz-linear-gradient(top, #fd1818, #cd0033);
  background-image: -ms-linear-gradient(top, #fd1818, #cd0033);
  background-image: -o-linear-gradient(top, #fd1818, #cd0033);
  background-image: linear-gradient(to bottom, #fd1818, #cd0033);
  color : black !important;
}
.openerp .oe_list_content > tbody > tr:nth-child(even) {
  background-color: #f0f0fa;
  background-color: #f0f0fa;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f0f0fa), to(#f0f0fa));
  background-image: -webkit-linear-gradient(top, #f0f0fa, #f0f0fa);
  background-image: -moz-linear-gradient(top, #f0f0fa, #f0f0fa);
  background-image: -ms-linear-gradient(top, #f0f0fa, #f0f0fa);
  background-image: -o-linear-gradient(top, #f0f0fa, #f0f0fa);
  background-image: linear-gradient(to bottom, #f0f0fa, #f0f0fa);
  color : black !important;
}

.openerp .oe_application a {
    color: black;
}

.openerp .oe_form td.oe_form_group_cell_label label {
    line-height: 18px;
    display: block;
    min-width: 150px;
    font-weight: bolder;
    font-size: larger;
}
.openerp .oe_form_field_one2many .oe_list_content > tbody tr:nth-child(odd), .openerp .oe_form_field_many2many .oe_list_content > tbody tr:nth-child(odd) {
    background: #f0f0fa !important;
    color : black !important;
}
.openerp .oe_form_field_one2many .oe_list_content > tbody tr:nth-child(odd), .openerp .oe_form_field_many2many .oe_list_content > tbody tr:nth-child(even) {
    background: #f0f0fa !important;
    color : black !important;
}
/* 
.openerp .oe_application .oe_form_sheetbg {
    background: black;
    border-bottom: 1px solid #ddd;
} */

.openerp{
    color : black !important;
}
.openerp .oe_notebook > li > a {
    color: black !important;
    font-weight: bold !important;
}
.openerp .oe_notebook > li.ui-tabs-active > a{
    color: black !important;
    font-weight: bold !important;
}
.openerp .oe_list_content > thead{
    color: black !important;
    font-weight: bold !important;
}
.openerp .oe_list_content {
    color: black !important;
    font-weight: bold !important;
}
.openerp table {
    color: black !important;
    font-weight: bold !important;
}
.ui-widget-content{
    color: black !important;
    font-weight: bold !important;
}
.ui-widget{
    color: black !important;
    font-weight: bold !important;
}