.oe_form_sheet_width_wider {
    max-width: 100% !important;
    margin-left:10px;
}
.oe_form_payment_sheet_width_wider{
    max-width: 1550px !important;
    margin-left:10px;
    width:1250px;
}

.oe_form_payment_header_width_wider{
    width:1250px;
}

.openerp .oe_list_content td.oe_number {
  text-align: left !important;
  max-width: 100px;
}

/* .openerp .oe_list_content > tbody > tr {
    border-top: 1px solid #671212 !important;
    border-top: 1px solid #671212 !important;
    border-left: 1px solid #671212 !important;
    border-rigth: 1px solid #671212 !important;    
}
.openerp .oe_list_content > thead {
    border-bottom: 1px solid #671212  !important;
    border-top: 1px solid #671212 !important;
    border-left: 1px solid #671212 !important;
    border-rigth: 1px solid #671212 !important;
}
.openerp thead th {
    border-left: 1px solid #671212;
    border-top: 1px solid #671212;
    border-left: 1px solid #671212;
    border-rigth: 1px solid #671212;    
}
.openerp .oe_list_content > tfoot {
    border-top: 1px solid #671212;
    border-bottom: 1px solid #671212;
    border-left: 1px solid #671212;
    border-rigth: 1px solid #671212;    
}  */